
<table id="table-orders">
    <thead>
        <tr>    
            <th>Contact</th>
            <th>Delivery</th>
            <th>Details</th>
            <th>Production Process</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>

<script>
$(function() {
    var i = <%= @repeat_times - 1 %>;
  var intervalId = setInterval(function(){

      if(i === 0){
            clearInterval(intervalId);
        }

      $.ajax({
            url: '/add_row',
            data: {
                simultaneous: <%= @simultaneous %>,
                time: <%= @time %>,
                repeat_times: <%= @repeat_times %>
            },
            dataType: 'script'
        });
        i--;
  }, <%= @time %>);
});

</script>